{%extends 'layout/base.html'%}

{%block title%}Chi tiết khóa học{%endblock%}
{%block content%}

<div class="row mt-3">
    <div class="col-md-5 col-12">
        <img src="{{kh.image}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-7 col-12">
        <h3 class="text-info">{{kh.name}}</h3>
        <h4 class="text-danger">{{kh.hocPhi}}$</h4>
        <h4>{{kh.description|safe}}</h4>
    </div>
</div>

<div class="container mt-3">
  <h2>Thông tin lớp học</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tên lớp</th>
        <th>Lịch học</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%for l in lh%}
      <tr>
        <td>{{l.name}}</td>
        <td>{{l.lichHoc}}</td>
        <td>{{l.ngayBD}}</td>
        <td>{{l.ngayKT}}</td>
        <td><a href="#" class="btn btn-danger">Đăng ký</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>


{%endblock%}